
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tab Bar con Dropdown</title>
</head>
<header class="head">
    <ul class="tab-bar">
        <li class="tab">Todos los juegos</li>
        <li class="tab">Top Juegos</li>
        <li class="dropdown">
            <div class="tab">Géneros</div>
            <div class="dropdown-content">
                <a href="#">Action</a>
                <a href="#">Shooter</a>
                <a href="#">Adventure</a>
            </div>
        </li>
    </ul>
</header>

